$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$fearless-blue: hsl(215, 60%, 80%);

$heat-primary: hsla(16, 100%, 50%, 0.8);
$heat-secondary: hsla(240, 100%, 50%, 0.6);

$water-primary: hsla(180, 100%, 50%, 0.8);
$water-secondary: hsla(240, 100%, 27%, 0.6);